.layout {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--primary);
    color: var(--white);
    gap: 2rem;

    .logo {
        width: 10rem;
        height: 2rem;
    }

    .search {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        width: 100%;

        .year {
            width: 120px;
        }
    }
}